doctype html
include ../mixins/mixins.pug
head
	title Bretterbutze Strandallee | Gr&ouml;mitz
	meta(name='description', content='Willkommen in der Bretterbutze Grömitz. Unsere Antwort auf Erhohlung, Strand und Meer mitten im Herzen von Grömitz!')
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
	script(defer='defer', src='https://www.google.com/recaptcha/api.js')
	link(rel='stylesheet', href=assets["main.css"])
	if(project.production)
		script(defer src=assets["sw.js"])
	noscript
		link(rel='stylesheet', href='assets/css/noscript.css')
	body
		block content

	script(src=assets["main.js"])
